@font-face {
  font-family: 'Raleway-Bold';
  src: url('/path-to/Raleway-Bold.woff2') format('woff2'),
       url('/path-to/Raleway-Bold.woff') format('woff'),
       url('/path-to/Raleway-Bold.ttf')  format('truetype');
}

body {
  font-family: 'Raleway-Bold', sans-serif;
}
